if TARGET_RTUIMX287

config SYS_CPU
	default "arm926ejs"

config SYS_BOARD
	default "rtuimx287"

config SYS_VENDOR
	default "londelec"

config SYS_SOC
	default "mxs"

config SYS_CONFIG_NAME
	default "rtuimx287"

endif
